<footer>
  <hr />
  <p>
    &copy; Creative Comons SA <br />
    Attribution:
    <a
      href="https://youtu.be/yXEesONd_54?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
      >Network Ninjas 2020</a
    >
  </p>
</footer>
