<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninjas</h1></a>
    <p>A Net Ninjas Site for <%= name %></p>
  </div>
  <UL>
    <Li> <a href="/">Blogs</a></Li>
    <Li> <a href="/about">About</a></Li>
    <Li> <a href="/blogs/create">New Blog</a></Li>
  </UL>
</nav>
