<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found contents">
      <h2>404 Error</h2>
      <p>Oops we could not serve that request :(</p>
    </div>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
